curl -XPUT http://ETCD_BOOTSTRAP/v2/keys/skydns/local/packet/iNAME/PRIVATE_IPV4 -d value='{"host":"PRIVATE_IPV4", "group": "g1"}'
curl -XPUT http://ETCD_BOOTSTRAP/v2/keys/skydns/local/packet/eNAME/PUBLIC_IPV4 -d value='{"host":"PUBLIC_IPV4", "group": "g1"}'
